<div>
  <h2><b>Mes commandes</b></h2>
  {% for order in orders  %}
    <h2>Commande #{{ order['id'] }}</h2>
    {{ order['products']|render }}
    <div>{{ "Total:"|t }} {{ order.subtotal }} {{ order['base_currency_code'] }}</div>
  {% endfor %}
</div>

